if SHIELD_MITOS_LEFT

config ZMK_KEYBOARD_NAME
    default "MITOS"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MITOS_LEFT || SHIELD_MITOS_RIGHT

config ZMK_SPLIT
    default y

endif
